<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AdminChatId>577776091</AdminChatId>
  <Token>5165841262:AAGw1RGf9y_IJU2gA9owQtsu2-jWUk6qJmA</Token>
  <KeyWords>
    <string>слово</string>
    <string>бывает</string>
  </KeyWords>
</Settings>